/* mca stylesheet copied into here */
.text.danger {
    color: hotpink !Important;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;

    /* border: 1px solid transparent */
    /* border-radius: 0.25rem */
    .navbar-light .navbar-toggler {
        color: none;
        border-color: none;
        border-width: 0;

        /* color: rgba(0, 0, 0, 0.5); */
        /* border-color: rgba(0, 0, 0, 0.1); */
    }
}

:root {
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    --primary: #ffffff;
}

body {
    margin-top: 0;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
    color: white;
    text-align: left;
    background-color: #000;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 300;
}

ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 16px;
}

.navbar {
    min-height: 120px;
}

@media (max-width:575px) {
    .navbar-brand {
        /* line-height: 120px */
        /* font-size: 3rem */
        background-image: url('assets/img/logos/McCarthy_logo.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center top;
        padding-left: 50vw;
        align-items: center;
        justify-content: center;
    }
}

.navbar-brand {
    /* line-height: 120px */
    /* font-size: 3rem */
    background-image: url('assets/img/logos/McCarthy_logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
    margin-left: 0vw;
    width: 20vw;
    height: 50px;
}

/* @media (min-width:768px) {
    .navbar-brand {
        ||*| line-height: 120px |*||
        /* font-size: 3rem */
/* background-image: url('assets/img/logos/McCarthy_logo.png') */
/* background-size: contain */
/* background-repeat: no-repeat */
/* background-position: left top */
/* margin-left: 5vw */
/* width: 250px */
/* height: 88px */
*/
.navbar-toggle {
    border: none;
}

.bg-light {
    background-color: #e8e8e8 !important;
}

.mca-line {
    font-size: 1rem;
    color: orange;
    padding-bottom: 0em;
}

.mca-two-col {
    margin-left: 25%;
    float: ;
}

.large-intro {
    font-size: 1.6rem;
    font-weight: 400;
}

.blok {
    padding-top: 8vh;
    padding-bottom: 14vh;
    padding-right: 14vh;
    object-position: left;
    background-color: #293742;
    font-family: 'Barlow', sans-serif;
    color: #ffffff;
    font-weight: 400;
    margin-top: -30vh;
}

.mca-large {
    padding-bottom: 2rem;
}

.h5 {
    color: aqua;
}

.white-blok {
    background-color: #f2f2f2;
    padding-left: 10.8vw;
    padding-right: 8vw;
    margin-top: 6vw;
    width: 95%;
    margin: 0;
}

.blue-blok {
    background-color: #293742;
    padding-left: 60px;

    /* padding-right: 8vw */
    color: #FBFDFF;
    margin-top: 6vw;
    width: 95%;
    margin: 0;
}

.bg-primary {
    background-color: #000 !important;
}

.bg-danger {
    background-color: hotpink !Important;
}

.mca-icon {
    font-size: 3rem;
    padding-bottom: 0;
}

.btn {
    border-radius: 0rem;
}

.btn-mca {
    background-color: #293742;
    color: white;
}

.card {
    background-color: #fff;
    border: 0px solid ;
    border-radius: 0;
}

.card-body {
    border: 0;
    padding-bottom: 0;
    padding-right: 0;
    background-color: #000000;
}

.card-footer {
    padding: 0rem 0rem;
    background-color: white;
    border-top: 0 ;
}

/* codepen  accrediations slider */
.slide-container {
    overflow: hidden;
    background-color: #cc4747;
}

.slider {
    animation: slidein 30s linear infinite;
    white-space: nowrap;
    margin-right: -120px;
}

.logos {
    height: 90px;
    width: 100%;
    display: inline-block;

    /* padding-left: 0px */
    padding-right: 0px;
}

.fab {
    width: calc(100% / 5);
    animation: fade-in 0.5s
          cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}

@keyframes slidein {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* large parallax background images */
.bgimage {
    width: 100%;
    height: 500px;
    background: url('assets/img/projects/McA_colour/McA__0008_P1000085.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bgimage2 {
    width: 100%;
    height: 500px;
    background: url('assets/img/projects/McA_Colour/McA__0011_P1000017.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bgimage3 {
    width: 95vw;
    height: 85vh;
    background: url('assets/img/projects/McA_Colour/McA_Hero_Landing.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bgimage4 {
    width: 100%;
    height: 500px;
    background: url('assets/img/projects/McA_Colour/McA_MarcoPierreWhite.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bgimage5 {
    width: 100%;
    height: 500px;
    background: url('assets/img/projects/McA_Colour/McA__0009_P1000056.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.bgimagecasestudy {
    width: height;

    /* background: url("https://images.unsplash.com/photo-1543311467-0d04382a7f69?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /* background-attachment: fixed; */
}

.bgimage h5 {
    color: white;
    text-shadow: 2px 2px #333;
}

.large-image {
    max-width: ;

    /* or to whatever you want here */
    max-height: 250px;

    /* or to whatever you want here */
}

.text-blok {
    margin: 0;
    width: 100%;
}

/* ====================
	Footer
====================== */
/* Main Footer */
footer .main-footer {
    padding: 20px 0;
    background: #e8e8e8;
}

footer ul {
    padding-left: 0;
    list-style: none;
}

/* Copy Right Footer */
.footer-copyright {
    background: #222;
    padding: 5px 0;
}

.footer-copyright .logo {
    display: inherit;
}

.footer-copyright nav {
    float: right;
    margin-top: 5px;
}

.footer-copyright nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-copyright nav ul li {
    border-left: 1px solid #505050;
    display: inline-block;
    line-height: 12px;
    margin: 0;
    padding: 0 8px;
}

.footer-copyright nav ul li a {
    color: #969696;
}

.footer-copyright nav ul li:first-child {
    border: medium none;
    padding-left: 0;
}

.footer-copyright p {
    color: #969696;
    margin: 2px 0 0;
}

/* Footer Top */
.footer-top {
    background: #252525;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 3px solid #222;
}

/* Footer transparent */
footer.transparent .footer-top,
footer.transparent .main-footer {
    background: transparent;
}

footer.transparent .footer-copyright {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3) ;
}

/* Footer light */
footer.light .footer-top {
    background: #e8e8e8;
}

footer.light .main-footer {
    background: #e8e8e8;
}

footer.light .footer-copyright {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.3) ;
}

/* Footer 4 */
.footer- .logo {
    display: inline-block;
}

/* ====================
	Widgets
====================== */
.widget {
    padding: 20px;
    margin-bottom: 40px;
}

.widget.widget-last {
    margin-bottom: 0px;
}

.widget.no-box {
    padding: 0;
    background-color: transparent;
    margin-bottom: 40px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}

.widget.subscribe p {
    margin-bottom: 18px;
}

.widget li a {
    color: #293742;
}

.widget li a:hover {
    color: #293742;
}

.widget-title {
    margin-bottom: 20px;
}

.widget-title span {
    background: #839FAD none repeat scroll 0 0;
    display: block;
    height: 1px;
    margin-top: 25px;
    position: relative;
    width: 20%;
}

.widget-title span::after {
    background: inherit;
    content: "";
    height: inherit;
    position: absolute;
    top: -4px;
    width: 50%;
}

.widget-title.text-center span,
.widget-title.text-center span::after {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.widget .badge {
    float: right;
    background: #7f7f7f;
}

.typo-light h1,
.typo-light h2,
.typo-light h3,
.typo-light h4,
.typo-light h5,
.typo-light h6,
.typo-light p,
.typo-light div,
.typo-light span,
.typo-light small {
    color: #293742;
}

ul.social-footer2 {
    margin: 0;
    padding: 0;
    width: auto;
}

ul.social-footer2 li {
    display: inline-block;
    padding: 0;
}

ul.social-footer2 li a:hover {
    background-color: #293742;
}

ul.social-footer2 li a {
    display: block;
    height: 30px;
    width: 30px;
    text-align: center;
}

.btn {
    background-color: #293742;
    color: #fff;
}

.btn:hover,
.btn:focus,
.btn.active {
    background: #293742;
    color: #fff;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 250ms ease-in-out 0s;
    -moz-transition: all 250ms ease-in-out 0s;
    -ms-transition: all 250ms ease-in-out 0s;
    -o-transition: all 250ms ease-in-out 0s;
    transition: all 250ms ease-in-out 0s;
}

.casestudyhero {
    width: 95vw;
    height: 85vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: local;
}

.bgimagecasestudyhero {
    width: 95vw;
    height: 85vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: local;
}

/* recent projects 2 col */
.recent-projects-2-col {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #e8e8e8;
}

.recent-projects-2-col .mbr-section-btn .btn-secondary-outline {
    margin-top: 10px;
    padding: 3px 0;
    color: inherit !important;
    border: none !important;
    background-color: transparent !important;
}

.recent-projects-2-col .mbr-section-title,
.recent-projects-2-col .mbr-section-btn {
    color: #293742;
}

.recent-projects-2-col .mbr-section-subtitle {
    margin-bottom: 15px;
    color: #293742;
}

.recent-projects-2-col .title__block {
    padding: 0 20px;
    position: absolute;
    max-width: 50%;
    height: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
}

.recent-projects-2-col .image {
    overflow: hidden;
    width: calc(100% - 120px);
    max-height: 530px;
    height: 100%;
    float: right;
    position: relative;
}

.btn .mbr-iconfont {
    font-size: 15px !important;
    order: 1;
    margin-left: 13px;
}

.btn .mbr-iconfont,
.btn.btn-sm .mbr-iconfont {
    cursor: pointer;
}

.recent-projects-2-col .image img {
    /* transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* hero top blok right */
.hero-top-blok-right {
    margin-top: 10vh;

    /* padding-bottom: 225px; */
    height: 100vh;
    background-image: url('assets/img/projects/McA_Blue/McA_blue-img__0000_17.png');
    background-position: center;
    background-size: cover;
}

.hero-top-blok-right .back {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 15%;
    background-color: #e8e8e8;
}

.hero-top-blok-right .block {
    background-color: #293742;
    margin-top: -10vh;
}

.hero-top-blok-right .content-wrapper {
    padding: 6rem 4rem;

    /* margin: auto;
    position: relative; */
}

.hero-top-blok-right .content {
    max-width: 600px;
}

.hero-top-blok-right .row {
    justify-content: flex-end;
}

.hero-top-blok-right H1 {
    color: #e8e8e8;
    text-align: left;
}

.hero-top-blok-right .mbr-text,
.hero-top-blok-right .mbr-section-btn {
    color: #e8e8e8;
    text-align: left;
}

.navcomms {
    color: red;
    text-align: center;
    margin-left: 0vw;
    padding-top: 1vw;
}

.img-fluid {
    width: 100%;
    height: 70vh;
    object-fit: cover;
}

@media (max-width:575px) {
    .img-fluid {
        width: 100%;
        height: 40vh;
        object-fit: cover;
    }
}

@media (min-width:768px) {
    .learn-more-c2a {
        padding-top: 10vh;
        padding-bottom: 5vh;
    }
}

.learn-more-c2a {
    padding-top: 10vh;
    padding-bottom: 5vh;
    color: #293742;
}

.txt-btn {
    text-transform: uppercase;
    font-weight: 500;
    font-size: .8rem;
    padding-bottom: 5vh;
}

.hero-build {
    width: 100vw;
    height: 100vh;
    background-image: url('assets/img/projects/McA_Blue/McA_blue-img__0000_17.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: local;
    margin-top: 0px;
}

.hero-projects {
    width: 100vw;
    height: 100vh;
    background-image: url('assets/img/projects/McA_Blue/McA_blue-img__0008_9.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: local;
    margin-top: 0px;
}

.hero-home {
    width: 100vw;
    height: 90vh;
    background-image: url('assets/img/projects/McA_colour/McA_Hero_Landing.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: local;
    margin-top: 0px;
}

.accrediations {
    /* margin-left: 35px; */
    margin-left: 0;
    margin-right: 0;
}

.cid-sdY9bzoPLd {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #ffffff;
}

.cid-sdY9bzoPLd .wrap:hover .image img {
    transform: scale(1.02);
}

.cid-sdY9bzoPLd .title__block {
    padding: 0 20px;
    position: absolute;
    max-width: 50%;
    height: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
}

.cid-sdY9bzoPLd .mbr-section-subtitle {
    margin-bottom: 15px;
}

.cid-sdY9bzoPLd .mbr-section-btn .btn-secondary-outline {
    margin-top: 10px;
    padding: 3px 0;
    color: inherit !important;
    border: none !important;
    background-color: transparent !important;
}

.cid-sdY9bzoPLd .mbr-section-btn .btn-secondary-outline:hover {
    color: #293742 !important;
}

.cid-sdY9bzoPLd .image {
    overflow: hidden;
    width: calc(100% - 120px);
    max-height: 530px;
    height: 100%;
    float: right;
    position: relative;
    border-radius: 4px;
}

.cid-sdY9bzoPLd .image img {
    transition: all cubic-bezier(0.4, 0, 0.2, 1) 0.4s;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
    border-style: none;
}

@media (max-width: 991px) {
    .cid-sdY9bzoPLd .image {
        max-height: 350px;
    }

    .cid-sdY9bzoPLd .title__block {
        max-width: 90%;
    }
}

@media (max-width: 767px) {
    .cid-sdY9bzoPLd .wrap {
        display: flex;
        flex-direction: column-reverse;
    }

    .cid-sdY9bzoPLd .image {
        width: 100%;
        float: none;
    }

    .cid-sdY9bzoPLd .title__block {
        height: auto;
        position: static;
        padding: 25px;
        width: 100%;
        max-width: none;
    }
}

.cid-sdY9bzoPLd .btn:hover .mbr-iconfont {
    animation: animBtn ease-out 0.3s;
}

@keyframes animBtn {
    0% {
        transform: translateX(0px);
    }

    51% {
        transform: translateX(20px);
        opacity: 1;
    }

    52% {
        opacity: 0;
        transform: translateX(-20px);
    }

    53% {
        opacity: 0;
    }

    54% {
        opacity: 1;
    }

    100% {
        transform: translateX(0px);
    }
}

.display-4 {
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 1.2;
}

/* .dropdown-menu.show {
    display: inline-flex;
} */
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    background-color: #e8e8e8;
    border: 0px solid;
    border-radius: 0rem;
}

.card-subtitle {
    font-size: 14px;
}

/* PROJECTS - FILTERED CSS */
.gallery-title {
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}

.filter-button {
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;
}

.filter-button:hover {
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;
}

.btn-default:active .filter-button:active {
    background-color: #42B32F;
    color: white;
}

.port-image {
    width: 100%;
}

.gallery_product {
    margin-bottom: 30px;
    padding-right: 30px;
}

.rospa {
    background-image: url('assets/img/logos/rospa.png');
    background-size: cover;
    padding-bottom: 80px;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
    height: 90vh;
    margin-top: -50px;
}

/* Since positioning the image, we need to help out the caption */
@media (max-width:575px) {
    .carousel-caption {
        padding-top: -10;
        margin-bottom: 20vh;

        /* background-color: black */
    }

    .carousel-caption {
        margin-bottom: 20vh;
        padding-top: -10vh;

        /* background-color: black */
    }
}

.carousel-caption {
    margin-bottom: 20vh;
    padding-top: -10vh;

    /* background-color: black */
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 80vh;
    background-color: #777;
}

.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    background-size: contain;
    height: 100vh;
    margin-top: -50px;
}

/* MARKETING CONTENT
-------------------------------------------------- */
/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: normal;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

/* Featurettes
------------------------- */
.featurette-divider {
    margin: 5rem 0;

    /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

hidelinkforlanding {
    visibility: hidden;
    display: none;
    justify-content: flex-end;
    padding-right: 80px;
}

/* everything from McA stylesheet */
a {
    color: #293742;
    text-decoration: none;
    background-color: transparent;
}

